{% load static %}
<html>
<title>Shop at Amazon</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{% static 'style/css/style.css' %}">

<body>
<div class="praru w3-display-container w3-animate-opacity w3-text-white">
<div class="w3-display-topleft w3-padding-large w3-xlarge">
</div>
<div class="w3-display-middle">
<h1>Amazon Sale</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-xlarge w3-center" style="color:#000000">Don't miss it!</p>
      <p class="w3-xlarge w3-center" style="color:#000000">50% OFF!</p>

</div>
<div class="w3-display-bottommiddle w3-padding-large">
<h2>Prarambhika Khadka</h2>
</div>
</div>
</body>
</html>
